<h1>Welcome to MMOFreaks Build Creation!</h1>

<form method="post" action='/builds'>
    <h3>Name Your Build:</h3>
    <input type="text" name="builds[name]">
    
    <br><br>
    
    <h3>Describe your build with encounter rotations and stat distributions:</h3>
    <textarea name="builds[description]"></textarea>
    
    <h3>Choose a Race:</h3>
    <select name="builds[race]">
        <option value="Half-Orc">Half-Orc</option>
        <option value="Drow">Drow</option>
        <option value="Human">Human</option>
        <option value="Dragonkin">Dragonkin</option>
        <option value="Dwarf">Dwarf</option>
        <option value="Sun-Elf">Sun-Elf</option>
        <option value="Wood-Elf">Wood-Elf</option>
        <option value="Halfing">Halfing</option>
    </select>
    
    <br><br>

    <h3>Choose a Class:</h3>
    <select name="builds[klass]">
        <option value="Great Weapons Fighter">Great Weapons Fighter</option>
        <option value="Guardian Fighter">Guardian Fighter</option>
        <option value="Control Wizard">Control Wizard</option>
        <option value="Scourge Warlock">Scourge Warlock</option>
        <option value="Hunter Ranger">Hunter Ranger</option>
        <option value="Trickster Rogue">Trickster Rogue</option>
        <option value="Divine Cleric">Divine Cleric</option>
        <option value="Oathbound Paladin">Oathbound Paladin</option>
    </select>
    
    <br><br>
    
    

</form>