<img src="../public/images/NWO%20Background.png" alt="Dragons of Neverwinter" id="don">

<div class="heading-container">
    <h1 class="headline">Welcome to MMOFreaks!</h1>
    <h3>Please Sign Up or Login to View Our Current Builds:</h3>
    
    <div id="login-box">
        <form method="post" action="/login">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username">
            
            <br><br>
            
            <label for="password">Password: </label>
            <input type="password" id="password" name="password">
            
            <br><br>
            
            <button class="submit-button" type="submit">Login</button>
        </form>
    </div>
    
    <br><br>
    
    <div id="signup-box">
        <form method="post" action="/signup">
            <label for="signup-username">Desired Username: </label>
            <input type="text" id="signup-username" name="username">
            
            <br><br>
            
            <label for="email">Email: </label>
            <input type="email" id="email" name="email">
            
            <br><br>
            
            <label for="signup-password">Desired Password: </label>
            <input type="password" id="signup-password" name="password">
            
            <br><br>
            
            <button class="submit-button" type="submit">Sign Up</button>
            
        </form>
    </div>

</div>
