<!DOCTYPE html>
 <html lang="en">
     <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>MMOFreaks, Neverwinter Builds</title>
         
         <!-- Custom CSS -->
         <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
         
     </head>
     
     <body>
         <%= styled_flash %>
         <%= yield %>
     
     </body>
</html>



